{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Category</h1>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <a href='showCategory.html.twig?route=category'></a>
{% endblock %}